.main-content-container {
    background-color: rgb(249, 249, 249);
    transition: all ease-in-out .3s;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6px;
    padding: 8px;
    transition: all ease-in-out .3s;
}